body {
	font-family: "courier-prime",monospace;
	font-style: normal;
	font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "courier-prime",monospace;
	font-style: normal;
	font-weight: 700;	
}

div#header {
	margin-top: 1.25rem;
}